<h1>FollowMe</h1>

<p>Hi <b><%= @user.name %></b>,</p>

<p>
  Welcome to the FollowMe website, click on the link below to activate your account:
</p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
